<h1 style="text-align: center">Edit Workout</h1>
<%= form_for @workout do |f| %>
  
  <h3 style="text-align: center"><%= f.label 'Date:' %></h3>
  <h1 style="text-align: center"><%= f.text_field :date %></h1>
 
  <h3 style="text-align: center"><%= f.label 'You focused on:' %><br></h3>
  <h1 style="text-align: center"><%= f.text_area :training %></h1>

  <h3 style="text-align: center"><%= f.label 'You were feeling:' %><br></h3>
  <h1 style="text-align: center"><%= f.text_area :mood %></h1>

  <h3 style="text-align: center"><%= f.label 'You worked out for:' %><br></h3>
  <h1 style="text-align: center"><%= f.text_area :length %></h1>
 
  <h1 style="text-align: center"><%= f.submit "Update Workout" %></h1>
<% end %>