<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if user_signed_in? %>
    <h1 style="text-align: right"><%= link_to 'Logout', destroy_user_session_path, method: 'delete' %></h1>
    <% end %> 
    <h1 style="text-align: center"><%= link_to "All Workouts", workouts_path %></h1>
    </header>
    <%= yield %>
  </body>
</html>
